body{
    margin: 0;
}

header{
    background-color: #FFF5E0;
    margin: 0;
    text-align: center;
    position: relative;
}

#logo{
    width: 50px;
}

#logo-text{
    display: inline-block;
    font-family: 'Pacifico', cursive;
}

.social{
    width: 22px;
}



.course{
    background: rgb(242, 128, 40);
}

.img-course{
    width: 700px;
}

.header-text{
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #ff0000;
    text-shadow: 3px 3px #ff0000;
    text-align: end;
}

#paragraph-main1{
    font-size: 35px;
    
    line-height: 1;
    color: #FFF5E0;
}

#paragraph-main2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.button-course{
    background-color: #E25E3E;
}

#button-font{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


@media only screen and (max-width: 1200px){
    #text-main{
        text-align: center;
    }
}


@media only screen and (max-width: 992px) {
    .img-course{
        width: 400px;
    }
    .header-text{
        font-size: 60px;
        text-align: center;
    }

    #paragraph-main1{
        font-size: 27px;
    }

    .img-course{
        width: 350px;
    }
}
